# .clangd at project root
CompileFlags:
  Add:
    - -I/home/gaddi/Development/learning/makemore/deps/torch/include
    - -I/home/gaddi/Development/learning/makemore/deps/torch/include/torch/csrc/api/include/
